<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">
        <img src="{{{uiRootPath}}}/img/logo.png" style="height: 3rem" alt="{{site.title}} logo">
      </a>
      <h1 class="navbar-item navbar-title">{{site.title}}</h1>

      <button class="navbar-burger" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle main menu">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{{site.homeUrl}}}">Home</a>
        <div class="navbar-item search hide-for-print">
          <div id="search-field" class="field">
            <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
            <label class="filter checkbox" style="display: none">
              <input type="checkbox" data-facet-filter="component:{{page.component.name}}" checked> In this project
            </label>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{{siteRootPath}}}/site.zip" download="documentation.zip">Download</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
